<%- include('header'); -%>
      <a class="nav-item nav-link btn" href="/logout">logout</a>
      <a class="nav-item nav-link" href="/profile"><%= name %></a>
    </div>
  </div>
</nav>
<div class="frontchart">
  <div class="searchmet">
    <h1>hey, What's your Question ?</h1><br>
    <form action="/searchquery" method="POST">
      <input type="text" name='questionn' class='ques' placeholder="Search"><br>
      <button type="submit" class="bb">Search</button>
     
  </form>
  
</div>
</div>
<h1 class="questionask">Recent Questions</h1>
<!-- <h2><%= hello %></h2> -->
<% hello.forEach(function(post){ %>
  <div class="container">
    <div class="recentques">
    <h2 class='contentsofbox'><%= post.recentQuestion %></h2>
    <h3 class='askedby'> Posted by: <%= post.userPostedName %></h3>
    <% if(post.answers.length===0) { %>
      <a class="link" href="/question/<%= post.recentQuestion  %>">Currently no answers</a>
    <% } %>
    <% if(post.answers.length!==0) { %>
      <a class="link" href="/question/<%= post.recentQuestion  %>">Read all <%= post.answers.length %> answers</a>
    <% } %>
  </div>
  </div>
  <% }) %>
</body>
</html>